<div class="pt-0 pt-md-5">
    <div class="border-0 shadow rounded-3 bg-white">
        <div class="card-body fw-bold fs-5">Đặt lại mật khẩu của bạn</div>
        <hr class="mx-0 my-0" />
        <div class="card-body">
            <p>Vui lòng nhập email của bạn để nhận mã xác nhận và đặt lại mật khẩu</p>
            <form id="forgot_password_form">
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="name@example.com"
                        name="email"
                        value="<%= email %>"
                        required
                        <% if (enterCode) { %>
                            disabled="true" <% } %> />
                    <label for="email">Nhập email của bạn</label>
                </div>
                <% if (enterCode) { %>
                <p>Mã xác nhận sẽ được gửi đến email của bạn. Vui lòng kiểm tra email và nhập mã xác nhận vào ô bên dưới</p>
                <div class="form-floating mb-3">
                    <input
                        type="number"
                        class="form-control"
                        id="reset_code"
                        placeholder="Nhập mã xác nhận"
                        name="resetCode"
                        required
                    />
                    <label for="reset_code">Nhập mã xác nhận</label>
                </div>
                <% } %>
    
                <div class="d-flex justify-content-end gap-2">
                    <a href="/login">
                        <button class="btn btn-outline-secondary fw-bold px-3 py-1" type="button">Hủy bỏ</button>
                    </a>
                    <button class="btn btn-primary btn-login fw-bold px-3 py-1" type="submit">Gửi yêu cầu</button>
                </div>
            </form>
        </div>
    </div>
</div>
