<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body fw-bold fs-5">Đặt lại mật khẩu</div>
    <hr class="mx-0 my-0" />
    <div class="card-body">
        <form id="reset_password_form">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" required />
                <label for="password">Nhập mật khẩu mới của bạn</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password_confirm" name="password_confirm" required />
                <label for="password_confirm">Nhập lại mật khẩu</label>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <a href="/login">
                    <button class="btn btn-outline-secondary fw-bold px-3 py-1" type="button">Hủy bỏ</button>
                </a>
                <button class="btn btn-primary btn-login fw-bold px-3 py-1" type="submit">Gửi yêu cầu</button>
            </div>
        </form>
    </div>
</div>
