<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Thêm Người Dùng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addUserForm">
            <div class="mb-3">
              <label for="name" class="form-label">Tên Người Dùng</label>
              <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật Khẩu</label>
              <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Vai trò</label>
              <select id="role" name="role" class="form-select" required>
                <option value="writer">Phóng viên</option>
                <option value="editor">Biên tập viên</option>
                <option value="subscriber">Độc giả</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary">Lưu Người Dùng</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.querySelector("#addUserForm").addEventListener("submit", async (e) => {
      e.preventDefault();
      const name = document.querySelector("#name").value;
      const email = document.querySelector("#email").value;
      const password = document.querySelector("#password").value;
      const role = document.querySelector("#role").value;
      const response = await fetch("/api/v1/users", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name,
          email,
          password,
          role,
        }),
      });
      const data = await response.json();
      if (response.ok) {
        alert("Thêm người dùng thành công");
        document.querySelector("#addUserModal").classList.remove("show");
        document.querySelector("#addUserModal").setAttribute("aria-hidden", "true");
        document.querySelector("#addUserModal").setAttribute("style", "display: none");
        document.querySelector(".modal-backdrop").remove();
        document.querySelector("#addUserForm").reset();
      } else {
        alert(`Thêm người dùng thất bại lỗi: ${data.message}`);

      }
    });
  </script>