<!-- Modal Cập Nhật Người Dùng -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Cập Nhật Người Dùng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form Cập Nhật Người Dùng -->
        <form id="editUserForm">
          <input type="hidden" id="userId" name="userId">

          <div class="mb-3">
            <label for="editName" class="form-label">Tên Người Dùng</label>
            <input type="text" id="editName" name="name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="editEmail" class="form-label">Email</label>
            <input type="email" id="editEmail" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="editRole" class="form-label">Vai trò</label>
            <input type="text" id="editRole" name="role" class="form-control" disabled>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Cập Nhật</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script>
  document.querySelector("#editUserForm").addEventListener("submit", async function(e) {
    e.preventDefault();
    const userId = document.querySelector("#userId").value;
    const name = document.querySelector("#editName").value;
    const email = document.querySelector("#editEmail").value;
    const role = document.querySelector("#editRole").value;
    const response = await fetch(`/api/v1/users/${userId}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name,
        email,
      }),
    });
    const result = await response.json();
    if (result.status === "success") {
      window.location.reload();
    }
    else {
      alert(result.message);
    }
  });
</script>