<!-- Modal Xóa Người Dùng -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserModalLabel">Xóa Người Dùng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="deleteUserInform">Bạn chắc chắn muốn xóa người dùng này?</p>
        <form id="deleteUserForm">
          <input type="hidden" id="deleteUserId" name="userId">
          <input type="hidden" id="deleteUserEmail" name="email">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-danger">Xóa</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector("#deleteUserForm").addEventListener("submit", async function(e) {
    e.preventDefault();
    const userId = document.querySelector("#deleteUserId").value;
    const response = await fetch(`/api/v1/users/${userId}`, {
      method: "DELETE",
    });
    const result = await response.json();
    if (result.status === "success") {
        alert("Xóa người dùng thành công!");
      window.location.reload();
    } else {
      alert(result.message);
    }
  });
</script>