<div class="modal fade" id="createTagModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered h-auto">
        <div class="modal-content">
            <form id="createTagForm" method="POST" action="/api/v1/tags/create">    
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Thêm nhãn mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="NameInput" class="form-label">Tên nhãn</label>
                        <input type="text" class="form-control" id="NameInput" name="name" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>