<div class="modal fade" id="rejectArticleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered h-auto">
        <div class="modal-content">
            <form id="rejectArticleForm" method="POST">    
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Lý do từ chối</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="rejectionReasonInput" class="form-label">Phản hồi</label>
                        <textarea type="text" class="form-control" id="rejectionReasonInput" name="rejectionReasonInput" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>