html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-color: white;
    --secondary-color: rgb(0, 72, 154);
}


.no-underline {
    text-decoration: none; 
}
  
.no-underline:hover {
    color: #007bff; 
    text-decoration: underline;
}
  
.btn {
    padding: 10px;
}

.btn:hover {
    border-bottom: 2px solid var(--secondary-color);
}