.rect {
    width: 8px;
    height: 30px;
    background-color: var(--secondary-color);
    margin-top: 3px;
    margin-right: 8px;
}

.image-container {
    flex-shrink: 0;
    width: 300px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow */
    position: relative; /* Positioning context for absolute children */
    margin-right: 20px;
}

.image-container img {
    width: 100%; /* Make the image take the full width of the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
}

.carousel-inner img {
    width: 800px;
    height: 400px;
    object-fit: cover; /* Ensures the image fills the dimensions without distortion */
    margin: 0 auto;    /* Centers the image horizontally */
}