.page-header {
    background-color: var(--primary-color);
}

.header-logo-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(200%);
}

.header-search-form {
    display: flex;
    position: relative;
}
.header-search-form input {
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #fff;
    outline: none;
    padding: 0 30px 0 15px;
    color: #fff;
    width: clamp(50px, 40vw, 300px);
}
.header-search-form input::placeholder {
    color: #ffffffc7;
}
.header-search-form input::-webkit-search-cancel-button {
    display: none;
}
.header-search-form button {
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.classynav ul {
    list-style: none;
    padding: 0;
}
.classynav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
}
.classynav > ul > li {
    padding-left: 5px;
    height: 40px !important;
    padding-right: 5px;
}
.classynav > ul > li > a {
    text-decoration: none;
    color: #3e3e3e;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}
.classynav > ul > li.has-down > a::after {
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    transition: width 0.3s;
    filter: invert(0.3);
    aspect-ratio: 1;
}
.classynav > ul > li:hover {
    background-color: #d7d7d7;
}
.classynav > ul > li + li {
    border-left: 1px solid #d3d3d3;
    height: 90%;
    display: flex;
    align-items: center;
}
.classynav > ul > li > ul {
    display: none
}



/* 
.dropdown {
    position: relative; 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none; 
    background-color: #333;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 0.5rem 1rem;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #444; 
}


.dropdown:hover .dropdown-menu {
    display: block; 
}


.dropdown .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
}


.dropdown li:hover > .dropdown-menu {
    display: block;
} */
