.card {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  min-height: 200px;
  object-fit: cover;
}

.card-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
