<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa bài viết</title>
    <link rel="stylesheet" href="/css/components/header.css" /> 
    <link rel="stylesheet" href="/css/global.css" />
</head>
<body>
    <%- include('../components/home/header', {user: user}) %><br>
    <%- include('../components/wysiwyg.ejs', {script: '/js/pages/edit_article.js', article: article}) %>
</body>
</html>