<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="images/logo.png" alt="newspaper logo" style="height: 60px; object-fit: contain" class="" />
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-dark">Trang chủ</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">Giới thiệu</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">Liên hệ</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input
                    type="search"
                    class="form-control form-control-dark text-bg-dark"
                    placeholder="Tìm kiếm..."
                    aria-label="Search"
                />
            </form>  
            <% if (user) { %>
                <div class="dropdown text-end">
                    <a
                        href="#"
                        class="d-block link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img src="https://robohash.org/<%= user._id %>" alt="mdo" width="32" height="32" class="rounded-circle" />
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                        <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <form action="/api/v1/logout" method="post" id="logout-form">
                                <button type="submit" class="dropdown-item">Đăng xuất</button>
                            </form>
                        </li>
                    </ul>
                </div>
            <% } else { %>
                <div class="text-end">
                    <a href="/login" ><button type="button" class="btn btn-outline-light mr-2 text-dark border-info">Đăng nhập</button></a>
                    <a href="/signup"><button type="button" class="btn btn-info mr-2">Đăng ký</button></a>
                </div>
            <% } %>
                       
        </div>
    </div>
</header>

<div class="header-categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 classynav">
                <ul class="m-0 d-flex flex-wrap">
                    <li class="has-down">
                        <a href="" id="22dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Xã hội</a>
                        <ul class="dropdown-menu" aria-labelledby="22dropdownMenuButton2">
                            <li><a class="dropdown-item" href="category.html">Thời sự</a></li>
                            <li><a class="dropdown-item" href="category.html">Giao thông</a></li>
                            <li><a class="dropdown-item" href="category.html">Môi trường - khí hấu</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>

                    <li><a href="category.html">Thế giới</a></li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Văn hóa</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Nghệ Thuật</a></li>
                            <li><a class="dropdown-item" href="category.html">Ẩm thực</a></li>
                            <li><a class="dropdown-item" href="category.html">Du lịch</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Kinh Tế</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Kinh Doanh</a></li>
                            <li><a class="dropdown-item" href="category.html">Tài Chính</a></li>
                            <li><a class="dropdown-item" href="category.html">Lao Động Việc Làm</a></li>
                            <li><a class="dropdown-item" href="category.html">Chứng Khoáng</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Giáo dục</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Học Bổng - Du lịch</a></li>
                            <li><a class="dropdown-item" href="category.html">Đào Tạo - Thi Cử</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Thể Thao</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Bóng Đá Quốc Tế</a></li>
                            <li><a class="dropdown-item" href="category.html">Bóng Đá Việt Nam</a></li>
                            <li><a class="dropdown-item" href="category.html">Quần Vợt</a></li>
                        </ul>

                        <span class="dd-trigger"></span>
                    </li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Giải Trí</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Âm Nhạc</a></li>
                            <li><a class="dropdown-item" href="category.html">Thời Trang</a></li>
                            <li><a class="dropdown-item" href="category.html">Điện Ảnh- Truyền Hình</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>
                    <li class="cn-dropdown-item has-down">
                        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Pháp Luật</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="category.html">Hình Sự - Dân Sự</a></li>
                            <li><a class="dropdown-item" href="category.html">An Ninh - Trật Tự</a></li>
                        </ul>
                        <span class="dd-trigger"></span>
                    </li>
                    <li><a href="category.html">Đời Sống</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
