<header class="page-header">
  <div class="header-top">
    <div class="container">
      <div class="row" style="height: 90px">
        <div class="col-md-12 header-top d-flex align-items-center justify-content-between gap-2" style="height: 100%">
          <div class="header-logo-container d-flex align-items-center" style="height: 100%">
            <img src="images/logo.png" alt="newspaper logo" />
          </div>
          <form class="header-search-form" action="search" method="GET">
            <input type="search" name="q" id="q" placeholder="Search..." required />
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <nav>
            <ul class="d-flex list-unstyled gap-1 m-0">
              <li>
                <a href="/signup" class="m-0 text-white no-underline btn" style="font-size: 0.9rem">Đăng nhập</a>
              </li>
              <li>
                <a href="/login" class="m-0 text-white no-underline btn" style="font-size: 0.9rem">Đăng ký</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row border-top">
        <div class="col-md-12 header-bottom d-flex justify-content-center">
          <nav>
            <ul class="d-flex list-unstyled gap-2 m-0">
              <li><a href="/" class="btn text-white no-underline">Trang chủ</a></li>
              <!-- <li class="dropdown">
                <span class="btn text-white no-underline dropdown-toggle" id="dropdownCategories">Danh mục</span>
              </li> -->
              <li><a href="/about" class="btn text-white no-underline">Giới thiệu</a></li>
              <li><a href="/contact" class="btn text-white no-underline">Liên hệ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header-categories" style="background-color: rgb(246, 246, 246)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 classynav">
          <ul class="m-0 d-flex flex-wrap">
            <li class="has-down">
              <a href="" id="22dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Xã hội</a>
              <ul class="dropdown-menu" aria-labelledby="22dropdownMenuButton2">
                <li><a class="dropdown-item" href="category.html">Thời sự</a></li>
                <li><a class="dropdown-item" href="category.html">Giao thông</a></li>
                <li><a class="dropdown-item" href="category.html">Môi trường - khí hấu</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>

            <li><a href="category.html">Thế giới</a></li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Văn hóa</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Nghệ Thuật</a></li>
                <li><a class="dropdown-item" href="category.html">Ẩm thực</a></li>
                <li><a class="dropdown-item" href="category.html">Du lịch</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false" >Kinh Tế</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Kinh Doanh</a></li>
                <li><a class="dropdown-item" href="category.html">Tài Chính</a></li>
                <li><a class="dropdown-item" href="category.html">Lao Động Việc Làm</a></li>
                <li><a class="dropdown-item" href="category.html">Chứng Khoáng</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Giáo dục</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Học Bổng - Du lịch</a></li>
                <li><a class="dropdown-item" href="category.html">Đào Tạo - Thi Cử</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Thể Thao</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Bóng Đá Quốc Tế</a></li>
                <li><a class="dropdown-item" href="category.html">Bóng Đá Việt Nam</a></li>
                <li><a class="dropdown-item" href="category.html">Quần Vợt</a></li>
              </ul>

              <span class="dd-trigger"></span>
            </li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Giải Trí</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Âm Nhạc</a></li>
                <li><a class="dropdown-item" href="category.html">Thời Trang</a></li>
                <li><a class="dropdown-item" href="category.html">Điện Ảnh- Truyền Hình</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>
            <li class="cn-dropdown-item has-down">
              <a href="#" data-bs-toggle="dropdown" aria-expanded="false">Pháp Luật</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="category.html">Hình Sự - Dân Sự</a></li>
                <li><a class="dropdown-item" href="category.html">An Ninh - Trật Tự</a></li>
              </ul>
              <span class="dd-trigger"></span>
            </li>
            <li><a href="category.html">Đời Sống</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
