<div class="my-5 container">
  <h3 class="mb-4">10 Danh Mục Hàng Đầu</h3>
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
  >
    <!-- Category 1 -->
    <div class="col">
      <h5 class="text-primary">Châu Á</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Châu Á" />
        <div class="card-body">
          <h6 class="card-title">
            Phóng viên Pakistan được trả tự do sau khi điều tra về cái chết
            trong cuộc biểu tình
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 2 -->
    <div class="col">
      <h5 class="text-primary">Thế Giới</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Thế Giới" />
        <div class="card-body">
          <h6 class="card-title">
            Đêm thứ ba của biểu tình sau khi Georgia đình chỉ đàm phán với EU
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 3 -->
    <div class="col">
      <h5 class="text-primary">Kinh Doanh</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Kinh Doanh" />
        <div class="card-body">
          <h6 class="card-title">
            Giá trị tăng có thể là phòng thủ tốt nhất cho cổ phiếu châu Á trước
            Trump
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 4 -->
    <div class="col">
      <h5 class="text-primary">Kinh Tế</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Kinh Tế" />
        <div class="card-body">
          <h6 class="card-title">
            Lĩnh vực sản xuất của Trung Quốc mở rộng trong tháng 11
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 5 -->
    <div class="col">
      <h5 class="text-primary">Công Nghệ</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Công Nghệ" />
        <div class="card-body">
          <h6 class="card-title">
            Start-up Trung Quốc muốn thay thế đầu bếp bằng robot
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 6 -->
    <div class="col">
      <h5 class="text-primary">Bình Luận</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Bình Luận" />
        <div class="card-body">
          <h6 class="card-title">
            Một nước Mỹ tràn ngập vốn toàn cầu đang đối mặt với rủi ro bất ổn
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 7 -->
    <div class="col">
      <h5 class="text-primary">Thể Thao</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Thể Thao" />
        <div class="card-body">
          <h6 class="card-title">
            Tài năng Hồng Kông được hỗ trợ tỏa sáng sau sáng kiến
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 8 -->
    <div class="col">
      <h5 class="text-primary">Tạp Chí</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Tạp Chí" />
        <div class="card-body">
          <h6 class="card-title">
            St Vincent luôn sáng tạo bản sắc mới của mình
          </h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 9 -->
    <div class="col">
      <h5 class="text-primary">Tuần Này Ở Châu Á</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Tuần Này Ở Châu Á" />
        <div class="card-body">
          <h6 class="card-title">Trump 2.0 sẽ ảnh hưởng thế nào tới châu Á?</h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>

    <!-- Category 10 -->
    <div class="col">
      <h5 class="text-primary">Video</h5>
      <div class="card">
        <img src="images/U.png" class="card-img-top" alt="Video" />
        <div class="card-body">
          <h6 class="card-title">Hồng Kông sẵn sàng bùng nổ xe điện?</h6>
          <p class="card-text">Ngày xuất bản: 1/12/2024</p>
        </div>
      </div>
    </div>
  </div>
</div>
