<link rel="stylesheet" href="/css/home.css" />

<div class="container-fluid px-0">
    <div class="d-flex flex-column flex-md-row">
        <%- include('../../components/home/carousel')%>
        <%- include('../../components/home/top_articles')%>
    </div>
    <%- include('../../components/home/top_categories')%>
    <%- include('../../components/home/latest_articles')%>
</div>
