<link rel="stylesheet" href="/css/home.css" />
<div class="my-5 mx-3">
    <%- include('../../components/home/carousel')%>
    <%- include('../../components/home/weekly_highlights')%>
    <%- include('../../components/home/latest_articles')%>
    <%- include('../../components/home/top_categories')%>
    
</div>